html {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 85vh;
    font-family: sans-serif;
    font-size: 2vh;
    text-align: center;
    color: #eeeeee;
    background: #000000;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 80vh;
    height: 80vh;
    perspective: 60vh;
}

.cube {
    width: 8vh;
    height: 8vh;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-50px);
}

.face {
    position: absolute;
    width: 8vh;
    height: 8vh;
    border: 1px solid #4ebd55;
    background: rgba(39, 80, 41, 0.1);
}

.face0  { transform: rotateY(  0deg) translateZ(4vh); }    /*front*/
.face1  { transform: rotateY( 90deg) translateZ(4vh); }    /*right*/
.face2  { transform: rotateY(180deg) translateZ(4vh); }    /*back*/
.face3  { transform: rotateY(-90deg) translateZ(4vh); }    /*left*/
.face4  { transform: rotateX( 90deg) translateZ(4vh); }    /*top*/
.face5  { transform: rotateX(-90deg) translateZ(4vh); }    /*bottom*/


.snake {
    background: rgba(69, 196, 77, 0.7);
}

.apple {
    width: 6vh;
    height: 6vh;
    margin: auto;
    background: #ba2d2d;
    border: 2px solid #ff5555;
    border-radius: 100%;
    animation: spin 30s infinite;
}

.scoreDisplay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5vh;
}

.gameOver {
    background: #632020;
}

@keyframes spin {
    from    { transform: rotateY(0deg); }
    to      { transform: rotateY(360deg); }
}