html {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 95vh;
    font-family: sans-serif;
    font-size: 2vh;
    text-align: center;
    color: #3991fd;
    background: #000000;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 80vmin;
    height: 80vmin;
    perspective: 60vmin;
}

.layer {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 80vmin;
    height: 80vmin;
    perspective: 60vmin;
}

.layer0 {
    z-index: 1;
}


.layer1 {
    transform: translateZ(-8vmin);
}

.layer0 .face {
    border: 1px dotted #3bb13f;
    background: rgba(19, 109, 23, 0.1);
}

.layer1 .face {
    border: 1px dotted #45ABC4;
    background: rgba(20, 61, 134, 0.1);
}

.cube {
    width: 8vmin;
    height: 8vmin;
    position: relative;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    width: 8vmin;
    height: 8vmin;
}

.face0  { transform: rotateY(  0deg) translateZ(4vmin); }    /*front*/
.face1  { transform: rotateY( 90deg) translateZ(4vmin); }    /*right*/
.face2  { transform: rotateY(180deg) translateZ(4vmin); }    /*back*/
.face3  { transform: rotateY(-90deg) translateZ(4vmin); }    /*left*/
.face4  { transform: rotateX( 90deg) translateZ(4vmin); }    /*top*/
.face5  { transform: rotateX(-90deg) translateZ(4vmin); }    /*bottom*/


.layer0 .snake {
    background: rgba(69, 196, 77, 0.7);
}
.layer1 .snake {
    background: rgba(69, 171, 196, 0.7);
}

.apple {
    width: 6vh;
    height: 6vh;
    margin: auto;
    background: #ba2d2d;
    border: 2px solid #ff5555;
    border-radius: 100%;
}

.scoreDisplay {
    position: fixed;
    left: 40vw;
    bottom: 5vh;
}

.restart {
    position: fixed;
    left: 60vw;
    bottom: 5vh;
    width: 3vh;
    height: 3vh;
    padding: 0;
    font-size: 3vh;
    color: #3991fd;
    line-height: 3vh;
    background: none;
    border: none;
    border-radius: 100%;
}

.gameOver {
    background: #632020;
}
